
body
{
    background-color:rgba(247, 159, 52, 0.852) ;
}

body > nav > div
{
background-color: rgb(243, 203, 83);
}

.card
{
    margin: 10px;
}

.text
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.title
{
    text-decoration: underline black;
    font-style: italic ;
}

.link-decoration-footer
{
    text-decoration: none;
    color: white ;        
    cursor: pointer;
}

