body{

background-color: rgba(247, 159, 52, 0.852);

}

body > main > div > div {    

    width: 40%;

    display: inline-flex;

    

    background-color: rgba(255, 214, 7, 0.897);
         border: 3px rgb(123, 107, 1)solid;

    padding: 3%;

    margin: 3%; 
    
  
}



