body 
{
    background-color:rgba(247, 159, 52, 0.852) ;
}

body > nav > div
{
background-color: rgb(243, 203, 83);
}



.h1 
{
    text-align: center;
}
.h3
{
    text-align: center;
}

body > menu > div > div >div 
{
    width: 100%;
    height: 100%;
}

.rowrece
{
    margin: 10px;
background-color: rgb(247, 159, 52, 0.852);
     align-items: center;
     border-radius: 10px;
}
.coltext
{
   
    object-fit: contain;
}